<style>
body {
  background: #989494;
}

input::-moz-placeholder {
	color:    #FF9933;
	opacity:  1;
}
input::-webkit-input-placeholder {
	color:    #FF9933;
	opacity:  1;
}

#login{
	border-bottom: 3px solid #ECECEC;
}
.formulario a.closeButton{
	color: #fff;
	font-style: "Segoe UI Symbol";
	text-decoration: none;
	float:right;
}
.formulario textarea:focus,.formulario input:focus {
    color: #fff;
}
.formulario input, .formulario select,.formulario textarea{
    color: #fff;
}

.formulario{
	max-width:540px;
	margin:50px auto;
	background:#9E9E9E;
	border-radius:2px;
	padding:20px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	font-family: Arial, "Times New Roman", Times, serif;
}
.formulario h1{
	display: block;
	text-align: center;
	padding: 0;
	margin-bottom: 12px ;
	color: #fff;
	font-size:36px;
	font-weight: bold;
}
.formulario ul{
	list-style:none;
	padding:10px;
	margin:10px;	
}
.formulario li{
	display: block;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.formulario li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.formulario li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 0px 2px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border:1px solid #DDDDDD;
	height: 28px;
	line-height: 22px;
	font-size: 16px;
	padding: 0;
	font-family: Arial,Georgia, serif;
	background: #000000;
}
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus,
.formulario select:focus 
{
	-moz-box-shadow: 0 0 8px #FFB870;
	-webkit-box-shadow: 0 0 8px #FFB870;
	box-shadow: 0 0 8px #FFB870;
	border: 1px solid #FFB870;
}
.formulario input[type="submit"]{
	background: #000;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #fff;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
.formulario input[type="submit"]:hover{
	background: #000;
	color:#FFB870;
	border-bottom: 3px solid #FFB870;
}


</style>
